{% extends "base.html" %}

{% block title %}
My Flask App
{% endblock %}

{% block page_content %}
<div style="margin-top: 25px; margin-bottom: 50px;">
    <h1>Hello World!</h1>
    <!-- the link will be localhost:5000/static/favicon.png -->
    <a href="{{ url_for('static', filename='favicon.png') }}">Click this for picture using url_for and static</a>
    <div style="margin-top: 50px;">
        {{ moment.locale('fr') }}
        <p>The current local date and time is <strong>{{ moment(current_time).format('LLL') }}</strong>.</p>
        <p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
    </div>
</div>
{% endblock %}
<!-- <div style="margin-top: 50px;">
    <p>The current local date and time is <strong>{{ moment(curent_time).format('LLL') }}</strong></p>
</div> -->
<!-- <p>That was {{ moment(curent_time).fromNow(refresh=True) }}</p> -->